In [5]:
import os
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
pwd

'f:\\AllPractiseprojects\\sampleproj1\\notebooks'

In [3]:
df=pd.read_csv("../data_given/winequality.csv")

NameError: name 'pd' is not defined

In [5]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,TARGET
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [6]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'TARGET'],
      dtype='object')

In [8]:
df1=df.describe()

In [9]:
df1.loc[["min","max"]].to_json("schema_in.json")

In [14]:
class NotinRangeError(Exception):
    def __init__(self,input_='' ,message="value not in in rage"):
        self.inout_=input_
        self.message=message
        super().__init__(self.message)

In [15]:
raise NotinRangeError

NotinRangeError: value not in in rage